<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cam.cambria.kg4h1.mapper.HangyechengzhenMapper">

    <resultMap id="BaseResultMap" type="cam.cambria.kg4h1.entity.dao.Hangyechengzhen">
        <result property="year" column="year" jdbcType="VARCHAR"/>
        <result property="c2" column="C2" jdbcType="INTEGER"/>
        <result property="c3" column="C3" jdbcType="INTEGER"/>
        <result property="c4" column="C4" jdbcType="INTEGER"/>
        <result property="c5" column="C5" jdbcType="INTEGER"/>
        <result property="c6" column="C6" jdbcType="INTEGER"/>
        <result property="c7" column="C7" jdbcType="INTEGER"/>
        <result property="c8" column="C8" jdbcType="INTEGER"/>
        <result property="c9" column="C9" jdbcType="INTEGER"/>
        <result property="c10" column="C10" jdbcType="INTEGER"/>
        <result property="c11" column="C11" jdbcType="INTEGER"/>
        <result property="c12" column="C12" jdbcType="INTEGER"/>
        <result property="c13" column="C13" jdbcType="INTEGER"/>
        <result property="c14" column="C14" jdbcType="INTEGER"/>
        <result property="c15" column="C15" jdbcType="INTEGER"/>
        <result property="c16" column="C16" jdbcType="INTEGER"/>
        <result property="c17" column="C17" jdbcType="INTEGER"/>
        <result property="c18" column="C18" jdbcType="INTEGER"/>
        <result property="c19" column="C19" jdbcType="INTEGER"/>
        <result property="c20" column="C20" jdbcType="INTEGER"/>
        <result property="c21" column="C21" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="Base_Column_List">
        year,C2,C3,
        C4,C5,C6,
        C7,C8,C9,
        C10,C11,C12,
        C13,C14,C15,
        C16,C17,C18,
        C19,C20,C21
    </sql>
</mapper>
